<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"><title>Agenda Contactos</title>
  </head>
  <body>
	  <div id="page_wrap">
	  		<header class="main" id="h1">
	  			<h2>Registo de entradas</h2>
	  		</header>
	  		<div>
	     <label for="nombre" class="rem">Nombres:</label>
	     <input type="text" name="nombre" placeholder="Nombres">
    </div>
    <div>
	    <label for="post" class="rem">Entrada:</label>
	    <input type="text" name="post" placeholder="post">
    </div>
    <div>
    	<input type="submit" name="envio" value="Registrar Post">
     </div> 
</form>
			<footer class="main" id="f1">
				<div>
					
				</div>
			</footer>
	  </div>
  </body>
</html>
